.navbar {
    background-color: #ffffff !important;
    padding: 1rem 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.navbar-logo {
    height: 60px; /* Adjust based on your image proportions */
    width: auto;
    transition: all 0.3s ease;
    margin-left: 24px;
}

.user-status{
    margin-left: 24px;
}

.navbar-brand{
    scale: 1.2;
    margin-left:27px;
}

.user-name{
    font-weight: 600;
    font-size: smaller;
    
}

.greeting{
    font-weight: 780;
    font-size: 19px;
}

.nav-item{
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-item:hover{
    transform: scale(1.08);
}

.navbar-logo:hover {
    transform: scale(1.09);
}

/* For different screen sizes */
@media (max-width: 768px) {
    .navbar-logo {
        height: 35px;
    }
}
