* {
  font-family: monsterrat, sans-serif;
}

.main-background {
  background-image: url('../../../assets/clean-bg.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  margin-bottom: 50px;
}

.card {
  background-color: rgba(255, 255, 255, 0.8); /* Make card semi-transparent */
  padding: 24px;
  border-radius: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-color: none;
}

.form-control {
  width: 500px;
}

.form-select {
  width: 250px;
}

.page-title {
  font-weight: bold;
}

.text-center {
  text-align: center;
  font-weight: bold;
}

.btn-primary {
  background-color: #b11515;
  color: white;
  border: none;
}

.main-container {
  padding-bottom: 100px;
}

.btn-primary:active {
  background-color: #db0101;
}
