.main-background {
  background-image: url('../../../assets/clean-bg.png'); 
  background-size: cover; 
  background-position: center top; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  min-height: 100vh; 
  width: 100%;
  margin-bottom: 50px;
}

.spacer{
    height: 50px;
}

.card {
  
  display:block;
  margin: auto;
  width: auto;
  height:auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 16px;
  background-color: #fff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  width: 750px;
  align-items: center;
  align-self: center;
  
}

.container{
    align-items: center;
    align-content: center;
    align-self: center;
    
}

.row {
  margin-top: 30px;
    align-items: center;
}

.card-header {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 12px;
  background-color: White;
  color: #333;
  text-align: center;
  width: 100%;
}

.form-control {
  width: 500px;
}

.btn-primary {
  flex: center;
  display: inline-block;
  background-color: #b70122;
  border-color: #b70122; ;
}

.list-title{
  align-items: center;
}

.list-group-item {
  width: 750px;
}

.btn-primary:active {
  background-color: #db0101;
}