.container { max-width: 700px; }

.main-background {
  background-image: url('../../../assets/clean-bg.png'); 
  background-size: cover; 
  background-position: center top; 
  background-repeat: no-repeat; 
  height: 100vh; 
  
}

.btn-primary:active {
  background-color: #db0101;
}